<!DOCTYPE html>
<html>

<head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=0">
    <title>M2Me-messageboard</title>
</head>

<body>
    <div id=app></div>
<script type=text/javascript src=/js/lib.3649c3a10c4321866260.js?3649c3a10c4321866260></script><script type=text/javascript src=/js/bundle.3649c3a10c4321866260.js?3649c3a10c4321866260></script></body>
<!-- <script src="/lib.js"></script>
<script src="/bundle.js"></script> -->

</html>